* {
  margin: 7px;
}
#gallery {
  display: flex;
}
h1 {
  font-size: 3rem;
  padding-left: 19px;
}
.main {
  width: 700px;
  height: 700px;
}
.size {
  height: 322px;
  width: 319px;
  display: flex;
}
.pic2 {
  padding-right: 25px;
  padding-bottom: 25px;
}
.pi3 {
  padding-top: 25px;
}
.pic4 {
  padding-bottom: 25px;
}
.pic5 {
  padding-top: 25px;
}
#banners {
  display: flex;
}
.size1 {
  height: 150px;
  width: 700px;
}
.pic6m {
  padding-right: 10px;
}
